<%
  // Determine menu open state from current URL (server-side, no flash)
  var p = page && page.canonical_path ? page.canonical_path : '';
  var isLVTHW = p.indexOf('lvthw/') === 0;
  var isA = isLVTHW && p.indexOf('lvthw/a-series/') === 0;
  var isEx = isLVTHW && p.indexOf('lvthw/ex-series/') === 0;
  var isCharles = p.indexOf('charles/') === 0;
%>
<div class="nav" id="nav">
    <div class="avatar-name">
        <div class="avatar <% if(config.avatar_style && config.avatar_style.radius) {%>radius<% } %>">
            <img src="<%= config['root'] %><%= config['sidebar-avatar'] %>" />
        </div>
        <div class="name">
            <i><%= config.author %></i>
        </div>
    </div>
    <div class="contents" id="nav-content">
        <ul>
            <li class="has-sub<%= (isLVTHW || isCharles) ? ' open' : '' %>">
                <a class="nav-toggle" href="javascript:void(0)">
                    <i class="iconfont icon-shouye1"></i>
                    <span><%= __('nav.home') %></span>
                    <i class="sub-arrow"></i>
                </a>
                <ul class="sub-menu<%= (isLVTHW || isCharles) ? ' open' : '' %>">
                    <!-- LVTHW -->
                    <li class="has-sub<%= isLVTHW ? ' open' : '' %>">
                        <a class="nav-toggle" href="javascript:void(0)">
                            <span>LVTHW</span>
                            <i class="sub-arrow"></i>
                        </a>
                        <ul class="sub-menu<%= isLVTHW ? ' open' : '' %>">
                            <li class="has-sub<%= isA ? ' open' : '' %>">
                                <a class="nav-toggle" href="javascript:void(0)">
                                    <span>A 系列 · 附录</span>
                                    <i class="sub-arrow"></i>
                                </a>
                                <ul class="sub-menu<%= isA ? ' open' : '' %>">
                                    <li><a href="/lvthw/a-series/"><span>A 系列总览</span></a></li>
                                    <li><a href="/lvthw/a-series/01-basic-tools/"><span>基础工具</span></a></li>
                                    <li><a href="/lvthw/a-series/02-bader/"><span>Bader 电荷</span></a></li>
                                    <li><a href="/lvthw/a-series/03-hpc/"><span>超算中心</span></a></li>
                                    <li><a href="/lvthw/a-series/04-ase-python/"><span>ASE & Python</span></a></li>
                                    <li><a href="/lvthw/a-series/05-ubuntu/"><span>Ubuntu & 软件</span></a></li>
                                    <li><a href="/lvthw/a-series/06-ml-data/"><span>机器学习 & 数据</span></a></li>
                                    <li><a href="/lvthw/a-series/07-advanced/"><span>高级工具</span></a></li>
                                </ul>
                            </li>
                            <li class="has-sub<%= isEx ? ' open' : '' %>">
                                <a class="nav-toggle" href="javascript:void(0)">
                                    <span>Ex 系列 · 教程</span>
                                    <i class="sub-arrow"></i>
                                </a>
                                <ul class="sub-menu<%= isEx ? ' open' : '' %>">
                                    <li><a href="/lvthw/ex-series/"><span>Ex 系列总览</span></a></li>
                                    <li><a href="/lvthw/ex-series/01-intro/"><span>入门准备</span></a></li>
                                    <li><a href="/lvthw/ex-series/02-vasp-output/"><span>VASP 输出文件</span></a></li>
                                    <li><a href="/lvthw/ex-series/03-o2/"><span>O₂ 分子计算</span></a></li>
                                    <li><a href="/lvthw/ex-series/04-structure/"><span>结构优化</span></a></li>
                                    <li><a href="/lvthw/ex-series/05-efficiency/"><span>计算效率</span></a></li>
                                    <li><a href="/lvthw/ex-series/06-ethanol/"><span>乙醇分子案例</span></a></li>
                                    <li><a href="/lvthw/ex-series/07-crystal/"><span>晶体与状态方程</span></a></li>
                                    <li><a href="/lvthw/ex-series/08-dos/"><span>DOS 计算</span></a></li>
                                    <li><a href="/lvthw/ex-series/09-surface/"><span>表面模型</span></a></li>
                                    <li><a href="/lvthw/ex-series/10-adsorption/"><span>吸附计算</span></a></li>
                                    <li><a href="/lvthw/ex-series/11-postproc/"><span>后处理分析</span></a></li>
                                    <li><a href="/lvthw/ex-series/12-neb/"><span>过渡态 NEB</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- CHARLES -->
                    <li class="has-sub<%= isCharles ? ' open' : '' %>">
                        <a class="nav-toggle" href="javascript:void(0)">
                            <span>CHARLES</span>
                            <i class="sub-arrow"></i>
                        </a>
                        <ul class="sub-menu<%= isCharles ? ' open' : '' %>">
                            <li class="has-sub<%= p.indexOf('charles/z-series/') === 0 ? ' open' : '' %>">
                                <a class="nav-toggle" href="javascript:void(0)">
                                    <span>Z 系列 · 附录</span>
                                    <i class="sub-arrow"></i>
                                </a>
                                <ul class="sub-menu<%= p.indexOf('charles/z-series/') === 0 ? ' open' : '' %>">
                                    <li><a href="/charles/z-series/"><span>Z 系列总览</span></a></li>
                                    <li><a href="/charles/z-series/01-linux/"><span>向日葵 · 远程控制</span></a></li>
                                    <li><a href="/charles/z-series/02-python/"><span>Keras · 错误解决</span></a></li>
                                </ul>
                            </li>
                            <li class="has-sub<%= p.indexOf('charles/dft-series/') === 0 ? ' open' : '' %>">
                                <a class="nav-toggle" href="javascript:void(0)">
                                    <span>DFT · 教程</span>
                                    <i class="sub-arrow"></i>
                                </a>
                                <ul class="sub-menu<%= p.indexOf('charles/dft-series/') === 0 ? ' open' : '' %>">
                                    <li><a href="/charles/dft-series/"><span>DFT 系列总览</span></a></li>
                                    <li><a href="/charles/dft-series/01-neb/"><span>过渡态计算</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li <% if(is_current('tags')){ %> <%- "class=active" %> <% } %>>
                <a href="<%= url_for(config.tag_dir) %>">
                    <i class="iconfont icon-biaoqian1"></i>
                    <span><%= __('nav.tags') %></span>
                </a>
            </li>
            <li <% if(is_current('archive')){ %> <%- "class=active" %> <% } %>>
                <a href="<%= url_for(config.archive_dir) %>">
                    <i class="iconfont icon-guidang2"></i>
                    <span><%= __('nav.archives') %></span>
                </a>
            </li>
            <li <% if(is_current('collect')){ %> <%- "class=active" %> <% } %>>
                <a href="<%= config.root %><%- 'collect/' %>">
                    <i class="iconfont icon-shoucang1"></i>
                    <span><%= __('nav.collect') %></span>
                </a>
            </li>
            <li <% if(is_current('about')){ %> <%- "class=active" %> <% } %>>
                <a href="<%= config.root %><%- 'about/' %>">
                    <i class="iconfont icon-guanyu2"></i>
                    <span><%= __('nav.about') %></span>
                </a>
            </li>
            <%if(config.search && config.search.path){%>
            <li>
                <a id="search">
                    <i class="iconfont icon-sousuo1"></i>
                    <span><%= __('nav.search') %></span>
                </a>
            </li>
            <% } %>
        </ul>
    </div>
    <%
        if(is_post()){
    %>
        <%- partial('./toc', {item: page, index: false}) %>
    <% } %>
</div>

<div class="search-field" id="search-field">
    <div class="search-bg" id="search-bg"></div>
    <div class="search-container">
        <div class="search-input">
            <span id="esc-search"> <i class="icon-fanhui iconfont"></i></span>
            <input id="search-input"/>
            <span id="begin-search"><%= __('search.search') %></span>
        </div>
        <div class="search-result-container" id="search-result-container">

        </div>
    </div>
</div>
